{% extends 'base.html' %}

{% block content %}
  <h1>Minhas Árvores</h1>
  {% if planted_trees %}
    <table class="table">
      <thead>
        <tr>
          <th>Espécie</th>
          <th>Data de plantio</th>
        </tr>
      </thead>
      <tbody>
        {% for tree in planted_trees %}
          <tr>
            <td>{{ tree.tree.name }}</td>
            <td>{{ tree.planted_at|date:'d/m/Y' }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>Nenhuma árvore plantada por sua comunidade :/</p>
  {% endif %}
{% endblock %}