{% extends 'base.html' %}

{% block content %}
  <h1>Cadastrar árvore plantada</h1>
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <div class="form-group">
        {{ field.label_tag }}
        {{ field }}
      </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary">Salvar</button>
    <a href="{% url 'planted_trees:home' %}" class="btn btn-secondary">Cancelar</a>
  </form>
{% endblock %}