{% extends 'base.html' %}

{% block content %}
  <h1>Minhas Árvores</h1>
  <a href="{% url 'planted_trees:planted_tree_create' %}" class="btn btn-success">Plantar uma Árvore</a>
  {% if planted_trees %}
    <table class="table">
      <thead>
        <tr>
          <th>Espécie</th>
          <th>Data de plantio</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for tree in planted_trees %}
          <tr>
            <td>{{ tree.tree.name }}</td>
            <td>{{ tree.planted_at|date:'d/m/Y' }}</td>
            <td><a href="{% url 'planted_trees:planted_tree_detail' id=tree.id %}">Detalhes</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>Você ainda não plantou nenhuma árvore.</p>
  {% endif %}
{% endblock %}