{% extends 'base.html' %}

{% block content %}
  <div class="row">
    <div class="col-md-8">
      <h1>{{ tree.tree.name }}</h1>
      <table class="table">
        <tr>
          <th>Idade:</th>
          <td>{{ tree.age }}</td>
        </tr>
        <tr>
          <th>Nome Científico:</th>
          <td>{{ tree.tree.scientific_name }}</td>
        </tr>
        <tr>
          <th>Data de plantio:</th>
          <td>{{ tree.planted_at|date:'d/m/Y H:i:s' }}</td>
        </tr>
        <tr>
          <th>Latitude:</th>
          <td>{{ tree.latitude }}</td>
        </tr>
        <tr>
          <th>Longitude:</th>
          <td>{{ tree.longitude }}</td>
        </tr>
      </table>
      <a href="{% url 'planted_trees:home' %}" class="btn btn-secondary">Voltar</a>
    </div>
  </div>
{% endblock %}